@page "/Employees"
@using BlazorApp.Client.Interfaces
@using BlazorApp.Shared
@using Radzen.Blazor
@using Radzen

@inject IEmployeeService EmployeeService
@inject IWarrantGrantCaseService WarrantGrantCaseService

<h1>Employees</h1>

<RadzenStack Gap="1rem">
    <RadzenCard Variant="Variant.Outlined">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1.5rem;" Wrap="FlexWrap.Wrap">
            <RadzenButton Click="@ClearSelection" Text="Clear Selection" />
            @if (selectedEmployees?.Any() == true)
            {
                <div>
                    Selected Employee: @selectedEmployees[0].FullName
                </div>
            }
        </RadzenStack>
    </RadzenCard>
    
    <RadzenCard Variant="Variant.Outlined">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1.5rem;" Wrap="FlexWrap.Wrap">
            <RadzenButton Click="@CreateWarrantGrantCase" Text="Create case" />
        </RadzenStack>
    </RadzenCard>

    <RadzenDataGrid FilterPopupRenderMode="PopupRenderMode.OnDemand" AllowPaging="true" PageSize="4" Data="@employees" ColumnWidth="200px"
                SelectionMode="DataGridSelectionMode.Single" @bind-Value="@selectedEmployees">
        <Columns>
            <RadzenDataGridColumn Property="@nameof(Employee.FullName)" Title="Name" />
            <RadzenDataGridColumn Property="@nameof(Employee.Email)" Title="Email" />
            <RadzenDataGridColumn Property="@nameof(Employee.PhoneNumber)" Title="Phone" />
            <RadzenDataGridColumn Property="@nameof(Employee.Address)" Title="Address" />
        </Columns>
    </RadzenDataGrid>
</RadzenStack>

@code {
    IEnumerable<Employee> employees;
    IList<Employee>? selectedEmployees;

    void ClearSelection()
    {
        selectedEmployees = null;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        employees = await EmployeeService.GetEmployeesAsync();
    }

    private async Task CreateWarrantGrantCase()
    {
        await WarrantGrantCaseService.CreateCaseAsync(selectedEmployees[0].Id);
    }
}